@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';

@theme {
	--font-mulish: 'Mulish', sans-serif;
	--color-gray: #3f3f49;
	--color-gray-light: #909097;
	--color-gray-transparent: #3f3f499a;
	--color-black-transparent: #000000b7;
	--color-darkBlue-transparent: #02030e9c;
}

@layer base {
	body {
		@apply font-mulish;
	}
}

@layer components {
	.forecastCard {
		@apply flex flex-col items-center gap-2 py-2 px-5 rounded-2xl mb-4;
	}
}

@utility container {
	@apply mx-auto my-0 max-w-[1200px];
}

@utility img-fluid {
	@apply w-full h-auto;
}

@utility scrollbar {
	&::-webkit-scrollbar {
		height: 8px;
	}

	&::-webkit-scrollbar-track {
		background: var(--color-gray-transparent);
		border-radius: 15px;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--color-gray);
		border-radius: 15px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

/* .compass {
	position: relative;
	width: 120px;
	height: 120px;
	border: 3px solid #333;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f4f4f4;
}

.needle {
	position: absolute;
	width: 4px;
	height: 50px;
	background: red;
	top: 20px;
	left: 50%;
	transform-origin: bottom center;
	transition: transform 0.5s ease-in-out;
}

.directions {
	position: absolute;
	width: 100%;
	height: 100%;
	font-weight: bold;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}

.north {
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translateX(-50%);
}
.east {
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}
.south {
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
}
.west {
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
} */
