@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';

@theme {
	--font-mulish: 'Mulish', sans-serif;
	--color-gray: #3f3f49;
	--color-gray-light: #909097;
	--color-gray-transparent: #3f3f499a;
	--color-black-transparent: #000000b7;
	--color-darkBlue-transparent: #02030e9c;
}

@layer base {
	body {
		@apply font-mulish;
	}
}

@layer components {
	.forecastCard {
		@apply p-5 text-white bg-darkBlue-transparent rounded-2xl mb-5;
	}

	.forecastCardDetails {
		@apply flex flex-col items-center gap-2 py-4 px-6 rounded-2xl mb-4 /* border border-red-600 */ w-full;
	}

	.bottomCards {
		@apply p-5 text-white bg-darkBlue-transparent rounded-2xl w-1/2;
	}

	.button {
		@apply border-2 border-gray-light text-white text-sm rounded-full px-4 py-2 font-bold transition duration-300 hover:bg-gray-light hover:text-gray-800;
	}

	.loader {
		@apply flex justify-center items-center opacity-90 transition-all duration-500 z-[9999];

		& svg {
			width: 3.25em;
			transform-origin: center;
			animation: rotate4 2s linear infinite;
		}

		& circle {
			fill: none;
			stroke: theme(--color-blue-800);
			stroke-width: 2;
			stroke-dasharray: 1, 200;
			stroke-dashoffset: 0;
			stroke-linecap: round;
			animation: dash4 1.5s ease-in-out infinite;
		}
	}
	@keyframes rotate4 {
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes dash4 {
		0% {
			stroke-dasharray: 1, 200;
			stroke-dashoffset: 0;
		}

		50% {
			stroke-dasharray: 90, 200;
			stroke-dashoffset: -35px;
		}

		100% {
			stroke-dashoffset: -125px;
		}
	}
}

@utility container {
	@apply mx-auto my-0 max-w-[1200px];
}

@utility img-fluid {
	@apply w-full h-auto;
}

@utility overlay {
	@apply after:content-[''] after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-darkBlue-transparent;
}

@utility background-gradient {
	background: linear-gradient(180deg, rgb(16, 24, 40) 0%, rgba(53, 122, 181, 1) 50%, rgb(16, 24, 40) 100%);
}

@utility scrollbar {
	&::-webkit-scrollbar {
		height: 8px;
	}

	&::-webkit-scrollbar-track {
		background: var(--color-gray-transparent);
		border-radius: 15px;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--color-gray);
		border-radius: 15px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

@utility compass {
	@apply relative w-30 h-30 border-3 border-gray-800 rounded-full flex justify-center items-center bg-transparent;
}

@utility needle {
	@apply absolute left-1/2 -translate-x-1/2 -translate-y-1/2 transform origin-bottom transition-transform duration-500 ease-in-out;
}

@utility directions {
	@apply absolute w-full h-full font-bold text-gray-light flex justify-center items-center;
}

@utility north {
	@apply absolute top-1 left-1/2 -translate-x-1/2 transform;
}

@utility east {
	@apply absolute right-1 top-1/2 -translate-y-1/2 transform;
}

@utility south {
	@apply absolute bottom-1 left-1/2 -translate-x-1/2 transform;
}

@utility west {
	@apply absolute left-1 top-1/2 -translate-y-1/2 transform;
}
